numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.0
scipy>=1.10.0
torch>=2.0.0
pytransit>=2.5.14
lightkurve>=2.4.1
emcee>=3.1.4
celerite2>=0.2.0
corner>=2.2.2
tqdm>=4.65.0
jupyter>=1.0.0
scikit-learn>=1.2.0
setuptools>=65.0.0